body {
  background-color: #131313 !important;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
}
.text-dingo {
  color: #687eff !important;
}
.text-light {
  color: #c3c3c3 !important;
}
.toast-mssg {
  visibility: hidden;
  z-index: 20;
  position: fixed;
  top: 10%;
  right: 1%;
  background-color: #272727;
  width: 250px;
  box-shadow: 0 0 10px #272727;
  padding: 1rem;
  border-radius: 4px;
  filter: blur(5px);
  transform: translateX(300px);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.toast-active {
  visibility: visible;
  filter: blur(0);
  transform: translateX(0%);
}
.toast-mssg .icon {
  font-size: 35px;
}
.toast-close {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 10;
}
.toast-close:hover {
  background-color: #1c1c1c !important;
}
.toast-active .toast-progress {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 3px;
  width: 0%;
  border-radius: 50px;
  background-color: #687eff;
  animation: progress 5s ease-in-out forwards;
}
@keyframes progress {
  100% {
    width: 100%;
  }
}

.ui-design {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
