@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300;1,400&display=swap");

* {
  font-family: "Poppins";
}
.dark {
  @apply bg-dark-background text-white;
}
.smooth-transition {
  @apply transition duration-300 ease-in-out;
}
::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, etc. */
}
::-moz-scrollbar {
  width: 0px; /* For Firefox */
}

/* Set the scrollbar track color */
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-moz-scrollbar-track {
  background-color: transparent;
}

/* Set the scrollbar thumb (handle) color */
::-webkit-scrollbar-thumb {
  background-color: gray;
}
::-moz-scrollbar-thumb {
  background-color: gray;
}
